html {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
}
table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
}
thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
th, td {
    padding: 11px 15px;
}
tbody tr {
    border-bottom: 1px solid #dddddd;
}

tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tr:last-of-type {
    border-bottom: 2px solid #009879;
}
tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}