body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: lightblue;
}
div {
    width: 100%;
    height: 100%;
    margin: 15px;
}
h1 {
    color: whire;
    text-align: center;
}
p {
    font-family: courier;
    font-size: 20px;
    text-align: center;
}
button {
    width: 30%;
    height: 10%;
    margin: auto;
    padding: auto;
    display: flex;
    position: relative;
    border: dashed 1px red;
    color: red;
    &:hover {
        background-color: black;
    }
    &:focus:active {
        background-color: blue;
    }
}
